@model TP_FINAL_GRUPO_C.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3><a href="c:\users\aibar\source\repos\tp-final_grupo-c\views\usuarios\delete.cshtml">c:\users\aibar\source\repos\tp-final_grupo-c\views\usuarios\delete.cshtml</a>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntentosFallidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntentosFallidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bloqueado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bloqueado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsAdmin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
