@model TP_FINAL_GRUPO_C.Models.UsuarioFuncion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UsuarioFuncion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.usuario.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.funcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.funcion.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadEntradasCompradas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadEntradasCompradas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-idUsuario="@Model.usuario.ID" asp-route-idFuncion="@Model.funcion.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
